body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Georgia, Serif;

  &::-webkit-scrollbar {
    display: none;
  }
}

button {
  cursor: pointer;
}

#board {
    svg {
        /* Striping out tracks original size 1980px */
        width: 1500px;
        height: 2975px;
        /* margin-top: 4.5em; */
        background-image: url("/assets/board.jpg");
    }

    .unit {
        position: absolute;
    }
}

.piece {
  background-repeat: no-repeat;
  pointer-events: auto;
  position: absolute;
  transition-duration: 1s;
  transition-property: top, left;

  &:hover {
    cursor: grab;
    cursor: -webkit-grab;
  }

  &.is-dragging, &.is-pointer-down {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transition: none;
    z-index: 999;
  }
}

.drop-over {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  background-color: white;
  fill: white;
  opacity: 0.7;
}

.drop-hint {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  fill: rgba(125,125,255,.5);
}

.territory {
  fill: none;
  stroke: none;
  pointer-events: all;

  &:hover {
    fill: rgba(255,255,255,.2);
  }

  &.drop-actived {
    path {
      fill: rgba(255,255,255,.5);
    }
  }
}

.unit {
  background-repeat: no-repeat;
  background-position: left top;
  width: 80px;
  height: 89px;
  text-indent: -15000px;
  cursor: move;

  &.footman {
    background-image: url("/assets/units/baratheon-footman.png");
  }

  &.knight {
    background-image: url("/assets/units/baratheon-knight.png");
    height: 97px;
  }

  &.siege-engine {
    background-image: url("/assets/units/baratheon-siege-engine.png");
    height: 97px;
  }

  &.boat {
    background-image: url("/assets/units/baratheon-boat.png");
    width: 100px;
    height: 83px;
  }
}
