<a routerLink="/matches">Matches</a>

<div *ngIf="match">
    <h1>Match {{match.id}} created at: {{match.createdAt | date: 'medium'}}</h1>

    <h2>This is the board!</h2>

    <ul>
        <li *ngFor="let unit of units" [dragData]="unit" draggable>{{unit}}</li>
    </ul>

    <p>Total of units: {{areas.length}}</p>

    <div *ngFor="let area of areas">
        <p>{{area.names.en}}</p>
    </div>

    <svg id="board">
        <svg:foreignObject class="container" *ngFor="let area of areas" droppable (onDrop)="onItemDrop($event, area)"></foreignObject>
        <svg:path class="territory" *ngFor="let area of areas" [attr.d]="area.path" />
    </svg>
</div>
