<a routerLink="/matches">Matches</a>

<div *ngIf="match">
    <h1>Match {{match.id}} created at: {{match.createdAt | date: 'medium'}}</h1>

    <div style="display:flex;justify-content:space-between;">
        <div style="display:flex;">
            <div *ngFor="let unit of units" [dragData]="unit" draggable (dragend)="test($event)" class="unit {{unit}}">{{unit}}</div>
        </div>

        <div style="width: 400px;height: 200px;background: rebeccapurple;">
            <div droppable (onDrop)="onItemDrop($event, area)" [dragHintClass]="'drop-hint'" [dragOverClass]="'drag-over'"></div>
        </div>
    </div>

    <div id="board">
        <ng-container *ngFor="let area of areas">
            <ng-container *ngIf="areaUnit[area.slug]">
                <div *ngFor="let unit of areaUnit[area.slug].units" class="unit {{unit.type}}">{{unit.type}} unit</div>
            </ng-container>
        </ng-container>

        <svg>
            <ng-container *ngFor="let area of areas">
                <g [id]="area.id" droppable (onDrop)="onItemDrop($event, area)" [dragHintClass]="'drop-hint'" [dragOverClass]="'drag-over'"></g>
                <svg:path class="territory" [attr.d]="area.path" />
            </ng-container>
        </svg>
    </div>
</div>
